stepfunctions/cdc_pipeline.json
{
  "Comment": "CDC pipeline: Glue job → DQ validation → multi-sink fanout → notify",
  "StartAt": "RunCdcJob",
  "States": {
    "RunCdcJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${glue_job_name}",
        "Arguments": {
          "--batch_id.$": "$.batch_id",
          "--raw_s3_path.$": "$.raw_prefix",
          "--config_path": "${config_s3_path}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "NotifySuccess"
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${sns_topic_arn}",
        "Subject": "[CDC] Pipeline SUCCEEDED",
        "Message.$": "$"
      },
      "End": true
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${sns_topic_arn}",
        "Subject": "[CDC] Pipeline FAILED",
        "Message.$": "$.error"
      },
      "Next": "FailState"
    },
    "FailState": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "See SNS notification for details"
    }
  }
}
